*.4ct
*.4tc
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.dvi
*.egg-info
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.pyg
*.run.xml
*.tmp
*.toc
*.xref
*~
.DS_Store
.coverage
.jekyll-metadata
.pytest_cache
__pycache__
_minted-*
_site
book.pdf
summaries.pdf
bib.html
tex.html
temp.html
temp.tex
tex/*/all.tex
