*.4ct
*.4tc
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.dvi
*.egg-info
*.idx
*.lof
*.log
*.lot
*.out
*.pyg
*.run.xml
*.tmp
*.toc
*.xref
*~
.DS_Store
.coverage
.jekyll-metadata
.pytest_cache
__pycache__
_minted-*
_site
book.pdf
tex/*/all.tex
