<section id="conduct">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Code of Conduct</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1" align="left">
        <p>
          Teaching Tech Together is dedicated to providing a
          harassment-free experience for everyone, regardless of
          gender, sexual orientation, disability, age, physical
          appearance, body size, race, nationality, religion, or
          choice of text editor. We do not tolerate harassment of
          participants in any form.
        </p>
        <ol>
          <li>
            <p>
              Harassment includes offensive verbal or written comments
              related to gender, sexual orientation, disability,
              physical appearance, body size, race, or religion,
              sexual images in public spaces, deliberate intimidation,
              stalking, following, harassing photography or recording,
              sustained disruption of talks or other events,
              inappropriate physical contact, and unwelcome sexual
              attention.
            </p>
          </li>
          <li>
            <p>
              All communication should be appropriate for a
              professional audience including people of many different
              backgrounds. Sexual language and imagery is not
              appropriate for any event.
            </p>
          </li>
          <li>
            <p>
              Be kind to others. Do not insult or put down other
              participants.
            </p>
          </li>
          <li>
            <p>
              Behave professionally. Remember that harassment and
              sexist, racist, or exclusionary jokes are not
              appropriate.
            </p>
          </li>
        </ol>
        <p>
          Participants asked to stop any harassing behavior are
          expected to comply immediately.  People violating these
          rules may be asked to leave the event or be excluded from
          the online venue at the sole discretion of the organizers,
          without a refund of any charge that may have been levied.
        </p>
        <p align="center">
          Thank you for helping make this a welcoming, friendly
          event for all.
        </p>
      </div>
    </div>
  </div>
</section>
