    <section id="details">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Details</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1" align="left">
                  <p>
                    FIXME: venue
                  </p>
                </div>
                <div class="col-lg-3 col-lg-offset-1" align="left">
                  <p>
                    FIXME: catering
                  </p>
                </div>
                <div class="col-lg-3 col-lg-offset-1" align="left">
                  <p>
                    Daycare will be provided free of charge for those
                    who request it–please let us know when you
                    register so that we can make arrangements.
                  </p>
                </div>
            </div>
        </div>
    </section>
