<section id="details">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Details</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4" align="left">
        <p>
          This workshop will be held
          in <a href="https://rangle.io/">Rangle.io</a>'s office
          at <a href="https://www.google.ca/maps/place/18+York+St,+Toronto,+ON+M5J/@43.643176,-79.3844088,17z/data=!3m1!4b1!4m5!3m4!1s0x882b34d4ecddbb55:0xf3d23d13bb2e06cd!8m2!3d43.6431721!4d-79.3822201?shorturl=1">18
          York Street, Toronto</a>, just a block from Union
          Station. We are grateful
          to <a href="https://rangle.io/">Rangle.io</a> for providing
          us with space.
        </p>
      </div>
      <div class="col-lg-4" align="left">
        <p>
          Coffee, snacks, and lunch will be provided.
          Please
          <a href="mailto:gvwilson@third-bit.com?subject=Teaching%20Tech%20Together">email
          the organizer</a> if you have any special dietary
          preferences or needs,
          or if you would prefer to self-cater.
        </p>
      </div>
      <div class="col-lg-4" align="left">
        <p>
          Daycare will be provided free of charge for those
          who request it—please let us know when you
          register so that we can make arrangements.
        </p>
      </div>
    </div>
  </div>
</section>
