<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h1>{{ site.title }}</h1>
              <hr class="star-light">
              <h2>Toronto – April 7, 2018</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-1" align="left">
              <p>
                A growing number of people who work in tech want
                to be involved in progressive community change,
                but have never been part of grassroots initiatives
                before.
              </p>
              <p>
                This one-day hands-on workshop will show
                attendees how to figure out what their community
                actually needs, how to rally and organize
                volunteers, and how to build relationships with
                local institutions and like-minded groups.
              </p>
            </div>
            <div class="col-lg-6 col-lg-offset-1" align="left">
              <p><img src="img/rangle-workshop-2017-small.jpg" width="100%" alt="Rangle Workshop 2017" /></p>
            </div>
        </div>
    </div>
</header>
