<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>{{ site.title }}</h1>
        <h2>Toronto – April 7, 2018</h2>
        <hr class="star-light">
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-1" align="left">
        <p>
          <em>
            How do I find out what my community needs?
            How do I figure out who to talk to?
            How do I make change happen?
            How do I get started?
          </em>
        </p>
        <p>
          A growing number of people who work in tech want to be
          involved in progressive community change, but have never
          been part of grassroots initiatives before.
        </p>
        <p>
          This one-day hands-on workshop will show participants how to
          figure out what their community actually needs, how to rally
          and organize volunteers, and how to build relationships with
          local institutions and like-minded groups.
        </p>
      </div>
      <div class="col-lg-6 col-lg-offset-1" align="left">
        <p><img src="img/rangle-workshop-2017-small.jpg" width="100%" alt="Rangle Workshop 2017" /></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>
          <a href="{{ site.eventbrite }}"><button class="w3-button w3-round-large">Register Now</button></a>
        </p>
      </div>
    </div>
  </div>
</header>
