<section id="learning">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Learning</h2>
        <hr class="star-primary">
        <p>
          This participatory workshop will feature case studies and hands-on skills building.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4" align="left">
        <p><strong>What is community?</strong></p>
        <p>- Who are your people?</p>
        <p>- Building relationships</p>
        <p>- Assessing community needs</p>
      </div>
      <div class="col-lg-4" align="left">
        <p><strong>Participating in civic processes</strong></p>
        <p>- How governments make decisions</p>
        <p>- The politics of the process</p>
        <p>- How to influence decision-making</p>
      </div>
      <div class="col-lg-4" align="left">
        <p><strong>Essentials of campaigning</strong></p>
        <p>- Setting a campaign objective</p>
        <p>- Creating campaign goals</p>
        <p>- Developing volunteer teams</p>
      </div>
    </div>
  </div>
</section>
