<section class="success" id="participation">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Participation</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4" align="left">
        <p>
          <a href="{{ site.eventbrite }}"><button class="w3-button w3-round-large">Apply Now</button></a>
        </p>
        <p>
          Applicants will be notified of acceptance no later than March 16.
        </p>
      </div>
      <div class="col-lg-4" align="left">
        <p>
          To ensure the workshop is as useful as possible,
          participants will be surveyed beforehand to tell the
          organizers about their interests and previous experience.
        </p>
      </div>
      <div class="col-lg-4" align="left">
        <p>
          Participants will be asked to contribute $20 if able.  All
          money raised will be donated to
          the <a href="https://www.reddoorshelter.ca/">Red Door Family
          Shelter</a>.
        </p>
      </div>
    </div>
  </div>
</section>
