<section id="learning">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Past Workshops</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6" align="left">
        <p>
          <strong>April 7, 2018</strong>
        </p>
        <p>
          Two dozen people from local tech companies, public
          libraries, schools, universities, and the public service
          came together at <a href="http://rangle.io">Rangle.io</a>'s
          office in downtown Toronto for a full day of discussion,
          networking, and practical exercises.
        </p>
      </div>
      <div class="col-lg-6" align="left">
        <p align="center">
          <img src="img/2018-04-07-b-small.jpg" alt="2018-04-07" width="75%" />
        </p>
      </div>
    </div>
  </div>
</section>
