<section class="success" id="register">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Register</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-1">
        <p>
          To apply to attend, please go to FIXME.  Participants are
          asked to contribute $20 to FIXME if able in lieu of a
          registration fee.
        </p>
      </div>
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          If you have questions, comments, or suggestions,
          or for a media kit,
          please email
          <a href="mailto:gvwilson@third-bit.com?subject=Teaching%20Tech%20Together">gvwilson@third-bit.com</a>.
        </p>
      </div>
    </div>
  </div>
</section>
