<section class="success" id="register">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Registration</h2>
        <hr class="star-light">
        <p>
          <a href="{{ site.eventbrite }}"><button class="w3-button w3-round-large">Register Now</button></a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4" align="left">
        <p>
          Applicants will be notified of acceptance no later than March 16.
        </p>
      </div>
      <div class="col-lg-4" align="left">
        <p>
          Participants will be asked to contribute $20 if able.  All
          money raised will be donated to
          the <a href="https://www.reddoorshelter.ca/">Red Door Family
          Shelter</a>.
        </p>
      </div>
      <div class="col-lg-4" align="left">
        <p>
          If you have questions, comments, or suggestions, or for a media kit,
          please <a href="mailto:gvwilson@third-bit.com?subject=Teaching%20Tech%20Together">email
          the organizer</a>.
        </p>
      </div>
    </div>
  </div>
</section>
