<section class="success" id="register">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Register</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4" align="left">
        <p>
          Please use the button below to register.  Anyone we cannot
          accommodate this time will be waitlisted and given
          preference in the next workshop.
        </p>
      </div>
      <div class="col-lg-4" align="left">
        <p>
          Participants will be asked to contribute $20 if able.  All
          money raised will be donated to
          the <a href="https://www.reddoorshelter.ca/">Red Door Family
          Shelter</a>.
        </p>
      </div>
      <div class="col-lg-4" align="left">
        <p>
          Participants will be sent a short survey two weeks before
          the workshop to tell the organizers about their interests,
          goals, and previous experience.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>
          <a href="{{ site.eventbrite }}"><button class="w3-button w3-round-large">Register Now</button></a>
        </p>
      </div>
    </div>
  </div>
</section>
