<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Team</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4" align="left">
        <p align="center">
          <img src="img/alejandra-bravo.jpg" width="75%" alt="Alejandra Bravo" />
        </p>
        <p>
          <strong>Alejandra Bravo</strong> is Director of Leadership
          and Training at
          the <a href="http://www.broadbentinstitute.ca/">Broadbent
          Institute</a>, where she builds backbone for progressive
          organizing in Canada.  She has a 25-year history of working
          for progressive social change with grassroots, immigrant,
          and labour groups. Alejandra has worked as a community
          organizer, political staff and has been a City Council
          candidate in Toronto.
        </p>
      </div>
      <div class="col-lg-4" align="left">
        <p align="center">
          <img src="img/graham-mitchell.png" width="75%" alt="Graham Mitchell" />
        </p>
        <p>
          <strong>Graham Mitchell</strong> is a Partner
          at <a href="http://storystiles.ca/">Story&nbsp;|&nbsp;Stiles</a>,
          a communications and consulting firm that works with
          non-profits, unions, and others trying to change the world.
          Prior to joining Story&nbsp;|&nbsp;Stiles, he was the Chief
          of Staff to the Ministers of Energy and Finance in Premier
          Rachel Notley’s government in Alberta.
        </p>
      </div>
      <div class="col-lg-4" align="left">
        <p align="center">
          <img src="img/greg-wilson.jpg" width="75%" alt="Greg Wilson" />
        </p>
        <p>
          <strong>Greg Wilson</strong> is the Head of Instructor
          Training at <a href="http://datacamp.com">DataCamp</a>, a
          leading provider of online lessons in data analysis.  Prior
          to that, he co-founded and
          led <a href="http://software-carpentry.org">Software
          Carpentry</a>, a non-profit that teaches programming skills
          to scientists.  Greg has been a programmer, researcher, and
          author, but is most at home as an educator.
        </p>
      </div>
    </div>
  </div>
</section>
